@model Admin28.Models.JC_HC_CURENT

@{
    ViewBag.Title = "Delete Call";
}

<h2>Delete Call &ndash; <span class="text-danger">DO NOT USE</span></h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JC_HC_CURENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TYCOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYCOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUB_TYCOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUB_TYCOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UDTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XDTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XDTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTNUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTNUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDIRPRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDIRPRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EFEANME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EFEANME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EFEATYP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EFEATYP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIT_COUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIT_COUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOI_SENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOI_SENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HC_SENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HC_SENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AG_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AG_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOI_EVAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOI_EVAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIT_EVAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIT_EVAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPE_EVAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE_EVAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XSTREET1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XSTREET1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XSTREET2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XSTREET2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESZ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMMENTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMMENTS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger disabled" disabled="disabled" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
