@model Admin28.Models.JC_HC_CURENT

@{
    ViewBag.Title = "Call Details";
}

<h2>Call Details</h2>

<div>
    <h4>EVENT NO: @Html.DisplayFor(model => model.NUM_1)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.EID)</dt>
        <dd>@Html.DisplayFor(model => model.EID)</dd>

        <dt>@Html.DisplayNameFor(model => model.AG_ID)</dt>
        <dd>@Html.DisplayFor(model => model.AG_ID)</dd>

        <dt>@Html.DisplayNameFor(model => model.TYCOD)</dt>
        <dd>@Html.DisplayFor(model => model.TYCOD)</dd>

        <dt>@Html.DisplayNameFor(model => model.SUB_TYCOD)</dt>
        <dd>@Html.DisplayFor(model => model.SUB_TYCOD)</dd>

        <dt>@Html.DisplayNameFor(model => model.UNIT_COUNT)</dt>
        <dd>@Html.DisplayFor(model => model.UNIT_COUNT)</dd>

        <dt>@Html.DisplayNameFor(model => model.ESTNUM)</dt>
        <dd>@Html.DisplayFor(model => model.ESTNUM)</dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
