@model IEnumerable<Admin28.Models.JC_HC_USR_SND>

@{
    ViewBag.Title = "Subscriptions List";
}

<h2>Subscriptions List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRP_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JC_HC_AGENCY.AG_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JC_HC_LOI.COMMON_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USR_ID)
        </th>
        <th>
            SUBSCRIBER NAME
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRP_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JC_HC_AGENCY.AG_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JC_HC_LOI.COMMON_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USR_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JC_HC_USERS.LNAME), @Html.DisplayFor(modelItem => item.JC_HC_USERS.FNAME)
        </td>
        <td>
           @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "text-warning" }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "text-danger" })
        </td>
    </tr>
}

</table>
